head
  block title
      title Geekpines - Innovation Team
  block meta
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="/favicon.ico")
  block styles
    //- link(
    //-   rel="stylesheet"
    //-   href="vendor/bootstrap/bootstrap-grid.min.css"
    //-   type="text/css")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    link(
      rel="stylesheet"
      href="vendor/magnific-popup/magnific-popup.css"
      type="text/css")
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(
      rel="stylesheet"
      href="css/app.css")